In [1]:
import pandas as pd

In [4]:
building=pd.read_csv("C:/Users/Student/Downloads/12.real state.csv")
building

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [5]:
building.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   street     985 non-null    object
 1   city       985 non-null    object
 2   zip        985 non-null    int64
 3   state      985 non-null    object
 4   beds       985 non-null    int64
 5   baths      985 non-null    int64
 6   sq__ft     985 non-null    int64
 7   type       985 non-null    object
 8   sale_date  985 non-null    object
 9   price      985 non-null    int64
 10  latitude   985 non-null    float64
 11  longitude  985 non-null    float64
dtypes: float64(2), int64(5), object(5)
memory usage: 92.5+ KB

In [9]:
#finding the city which is less than 10000
filtered_data=building[building['price']>=10000]
city_wise_villas=filtered_data.groupby('city')['price'].apply(list)
print(city_wise_villas)

city
ANTELOPE           [126640, 161250, 182716, 194818, 387731, 16500...
AUBURN                      [504000, 260000, 285000, 420454, 560000]
CAMERON PARK       [201000, 210000, 399000, 423000, 195000, 21500...
CARMICHAEL         [181872, 200000, 250134, 189000, 484000, 58200...
CITRUS HEIGHTS     [116250, 122000, 235000, 250000, 69000, 156000...
COOL                                                        [300000]
DIAMOND SPRINGS                                             [216033]
EL DORADO                                           [289000, 205000]
EL DORADO HILLS    [352000, 600000, 606238, 830000, 438700, 46000...
ELK GROVE          [133000, 141000, 156896, 170000, 194000, 19950...
ELVERTA                             [138750, 126000, 126714, 140000]
FAIR OAKS          [142500, 230000, 286013, 293993, 680000, 20000...
FOLSOM             [200000, 344250, 460000, 539000, 585000, 24000...
FORESTHILL                                                  [194818]
GALT               [178760, 182750, 188741, 106716, 140000, 30000...
GARDEN VALLEY                                               [490000]
GOLD RIVER                          [299000, 300000, 305000, 528000]
GRANITE BAY                                 [676200, 760000, 600000]
GREENWOOD                                                   [395000]
LINCOLN            [202500, 261800, 297500, 315000, 330000, 43674...
LOOMIS                                              [839000, 295000]
MATHER                                                      [237800]
MEADOW VISTA                                                [230000]
NORTH HIGHLANDS    [123000, 125000, 134555, 147308, 161500, 11100...
ORANGEVALE         [183200, 334150, 250000, 250000, 252155, 47500...
PENRYN                                                      [506688]
PLACERVILLE        [205000, 211500, 300000, 350000, 485000, 37108...
POLLOCK PINES                               [265000, 280908, 175000]
RANCHO CORDOVA     [94905, 234697, 263500, 320000, 320000, 430000...
RANCHO MURIETA                               [370500, 97750, 425000]
RIO LINDA          [98937, 113263, 121630, 240122, 229665, 300000...
ROCKLIN            [380000, 402000, 480000, 274500, 285000, 37000...
ROSEVILLE          [250000, 292000, 294000, 306500, 356000, 50050...
SACRAMENTO         [59222, 68212, 68880, 69307, 81900, 89921, 908...
SHINGLE SPRINGS                                             [275000]
WALNUT GROVE                                                [380000]
WEST SACRAMENTO                             [147000, 165000, 200100]
WILTON                      [372000, 560000, 579093, 691659, 884790]
Name: price, dtype: object

In [14]:
# flitering GALT city
flitering_city=building[(building['city']=='GALT')&(building['sq__ft']>800)]
print(flitering_city[['street','sq__ft','sale_date','city']])

                  street  sq__ft                     sale_date  city
55    1122 WILD POPPY CT    1406  Wed May 21 00:00:00 EDT 2008  GALT
61      306 CAMELLIA WAY    1130  Wed May 21 00:00:00 EDT 2008  GALT
63            404 6TH ST    1479  Wed May 21 00:00:00 EDT 2008  GALT
174   1121 CREEKSIDE WAY    1080  Tue May 20 00:00:00 EDT 2008  GALT
189      840 TRANQUIL LN    1266  Tue May 20 00:00:00 EDT 2008  GALT
281        993 MANTON CT    2307  Tue May 20 00:00:00 EDT 2008  GALT
296    796 BUTTERCUP CIR    2159  Tue May 20 00:00:00 EDT 2008  GALT
307      1092 MAUGHAM CT    3746  Tue May 20 00:00:00 EDT 2008  GALT
372         201 CARLO CT    1080  Mon May 19 00:00:00 EDT 2008  GALT
402  746 MOOSE CREEK WAY    1100  Mon May 19 00:00:00 EDT 2008  GALT
409        332 PALIN AVE    1204  Mon May 19 00:00:00 EDT 2008  GALT
439        913 COBDEN CT    1555  Mon May 19 00:00:00 EDT 2008  GALT
454      709 CIMMARON CT    1798  Mon May 19 00:00:00 EDT 2008  GALT
480    1042 STARBROOK DR    1928  Mon May 19 00:00:00 EDT 2008  GALT
508      200 OAKWILDE ST    1606  Mon May 19 00:00:00 EDT 2008  GALT
652        925 COBDEN CT    1140  Fri May 16 00:00:00 EDT 2008  GALT
761       294 SPARROW DR    2214  Fri May 16 00:00:00 EDT 2008  GALT
800     1214 DAWNWOOD DR    1548  Fri May 16 00:00:00 EDT 2008  GALT
957     82 WILDFLOWER DR    1262  Thu May 15 00:00:00 EDT 2008  GALT
968     1178 WARMWOOD CT    1770  Thu May 15 00:00:00 EDT 2008  GALT

In [16]:
# finding cheapest villa in CA
CA_villa=building[(building['state']=='CA') & (building['type']=='villa')]
cheapest_property=CA_villa.loc[CA_villa['price'].idxmin()]
print('the cheapest villa property',cheapest_property)

the cheapest villa property street                    5840 WALERGA RD
city                           SACRAMENTO
zip                                 95842
state                                  CA
beds                                    2
baths                                   1
sq__ft                                840
type                                villa
sale_date    Mon May 19 00:00:00 EDT 2008
price                               40000
latitude                        38.673678
longitude                     -121.357471
Name: 335, dtype: object

In [36]:
#finding more than two beds 
residential=building[(building['type']=='Residential')&(building['beds']>2)]
print(residential[['city','baths','sq__ft','price','type','beds']])

                city  baths  sq__ft   price         type  beds
1         SACRAMENTO      1    1167   68212  Residential     3
6         SACRAMENTO      2    1104   90895  Residential     3
7         SACRAMENTO      1    1177   91002  Residential     3
9          RIO LINDA      2    1146   98937  Residential     3
10        SACRAMENTO      2     909  100309  Residential     3
..               ...    ...     ...     ...          ...   ...
980       SACRAMENTO      3    2280  232425  Residential     4
981       SACRAMENTO      2    1477  234000  Residential     3
982   CITRUS HEIGHTS      2    1216  235000  Residential     3
983        ELK GROVE      2    1685  235301  Residential     4
984  EL DORADO HILLS      2    1362  235738  Residential     3

[715 rows x 6 columns]

In [49]:
#finding top 5 street using 
fliter_residences=building[(building['sq__ft']>=1450)&
                           (building['beds']>=3)&(building['baths']>=2)&
                           (60000>=building['sq__ft'])&
                           (building['sq__ft']<=120000)]
print(fliter_residences.head(5))

               street             city    zip state  beds  baths  sq__ft  \
23       9 PASTURE CT       SACRAMENTO  95834    CA     3      2    1601
37     7661 NIXOS WAY       SACRAMENTO  95823    CA     4      2    1472
44      7315 KOALA CT  NORTH HIGHLANDS  95660    CA     4      2    1587
46  8421 SUNBLAZE WAY       SACRAMENTO  95823    CA     4      2    1580
48    3820 NATOMA WAY       SACRAMENTO  95838    CA     4      2    1656

           type                     sale_date   price   latitude   longitude
23  Residential  Wed May 21 00:00:00 EDT 2008  124100  38.628631 -121.488097
37  Residential  Wed May 21 00:00:00 EDT 2008  148750  38.479553 -121.463317
44  Residential  Wed May 21 00:00:00 EDT 2008  161500  38.699251 -121.371414
46  Residential  Wed May 21 00:00:00 EDT 2008  165000  38.450543 -121.432538
48  Residential  Wed May 21 00:00:00 EDT 2008  166357  38.636748 -121.422159